.nav{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  z-index: 90000;
  padding: 0px 0;
  width: 100%;
}
.link{
  color: aliceblue;
  text-decoration: none;
  border-radius: 10px;
  background:darkslategray;
  padding: 10px;
}

.link:hover{
  background-color: lawngreen;
    color: black;
    border-radius: 5px;
    padding:5px;
    
}

